

<ion-content id="principal">
     <div> 
             <img src="../assets/fondoinicio.jpg"> 
      </div>
      <div id="inicio">
            <ion-slides autoplay="4000" loop="true" speed="3000" pager>
                  <ion-slide *ngFor="let slide of slides">
                        <h2 class="slide-title" ><b>{{ slide.title }}</b></h2>
                        <p><b>{{ slide.description }}</b></p>
                  </ion-slide>
            </ion-slides>
      </div>
      <div id="buton">
            <button ion-button block color="primary" (click)="cuenta()">CREAR CUENTA</button>
            <p>¿Ya tienes una cuenta?</p>
            <button ion-button block color="secondary" (click)="iniciarSesion()">INICAR SESIÓN</button>
      </div>

</ion-content>