page-home {
    #principal{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        background-image: url('../assets/fondoinicio.jpg');
    }
   
    #inicio{
       position: fixed;
       top: 40%;
       right: 0;
       left: 0;
    }
    #buton{
        position: fixed;
        top: 70%;
        right: 0;
        left: 0;
    }
    h4{
        font-weight: bold;
    }

}
