<!--
  Generated template for the IniciarsesionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Iniciar Sesión</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
     
      <div align = "center"><button ion-button icon-left color="primary" full (click)="iniciarFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>INICIAR SESIÓN CON FACEBOOK</button></div>
  
        <ion-label align = "center" >o</ion-label>
  
       <ion-item>
            <ion-input type="text"  placeholder="Email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password"  placeholder="Password" [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <div align = "center"><button ion-button color="secondary" full (click)="ingresarMenu(user)">INICIAR SESIÓN</button></div>
          

  </ion-content>
