<!--
  Generated template for the UnirsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      </ion-buttons>
      <ion-title>Unirse Grupo</ion-title>
    </ion-navbar>
  </ion-header>
   
  <ion-content padding>
  </ion-content>