<ion-header>

  <ion-navbar>
    <ion-title>basico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{pregunta.img}}" width="400" height="280">
  <h3>
    {{pregunta.titulo}}
  </h3>
  <ion-list >
    <ion-item *ngFor="let item  of alternativas" (click)="select(item)" >
      {{item.titulo}}
    </ion-item>
  </ion-list>
</ion-content>