<!--
  Generated template for the ComezarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comezar Juego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p align="center">SELECCIONE NIVEL</p>
  <p><button ion-button round block (click)="basico()" color="basico">Básico</button></p><br>
  <p><button ion-button block color="intermedio" round>Intermedio</button></p><br>
  <p><button ion-button block color="danger" round>Avavanzado</button></p>

</ion-content>