<ion-header>
    <ion-toolbar>
        <ion-title>
            Felicitaciones
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h1>
        FELICITACIONES
    </h1>
</ion-content>