<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>REGÍSTRATE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <button ion-button icon-left color="primary" full (click)="registratefacebook()">
      <ion-icon name="logo-facebook"></ion-icon>REGÍSTRATE CON FACEBOOK</button>
    <ion-label align="center">o a través de un correo electrónico</ion-label>
<ion-list>
  <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Username" [(ngModel)]="profile.usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-select [(ngModel)]="profile.gender" interface="action-sheet">
      <ion-option value="Femenino">Femenino</ion-option>
      <ion-option value="Masculino">Masculino</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
  <div >
    <button ion-button color="secondary" full (click)="crearCuenta(user)">REGÍSTRATE</button>
  </div>
</ion-content>